#weatherView
{
    background-image: url("https://wallpaperset.com/w/full/c/7/b/70199.jpg");
    border-radius: 10px / 10px;
}

#cityHeader
{
background-color:rgb(90, 173, 224);
border-radius: 10px / 10px;
}

#cityID 
{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    position: relative;
}

#forecast
{   
    background: rgba(248, 248, 248, 0.2);
    border-radius: 10px / 10px;
}

ul {
    list-style-type: none;
        padding: 0;
        margin: 0;
}

#tempHTML 
{
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1;
    position: relative;
}

#dayPlus1, #dayPlus2, #dayPlus3,
#dayPlus4,#dayPlus5
{
    text-align: left;
    font-weight: bold;
}


#CtoF #fahrenheit #celsius
{
    position:relative;
    text-align: left;
    vertical-align: top;
}